[submodule "scar"]
	path = scar
	url = git@github.com:grycap/scar.git
[submodule "RestoreServer"]
	path = RestoreServer
	url = git@github.com:MattiaCalabrese/RestoreServer.git
[submodule "oscar"]
	path = oscar
	url = git@github.com:grycap/oscar.git
